[user]
	name = Adolfo Benedetti
	email = adolfo.benedetti@gmail.com
[core]
	editor = emacs
	autocrlf = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[alias]
	co = checkout
	# Log display from screencast, with train tracks.
	l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
	# Alternate log display from Scott Chacon
	lol = log --pretty=oneline --abbrev-commit --graph --decorate
	# Other useful aliases:
	unstage = reset HEAD
	staged = diff --cached
	unstaged = diff
	current-branch = !git symbolic-ref -q HEAD | sed -e 's|^refs/heads/||'
	# Usage: git track origin/feature-123-login-form
	track = checkout -t
[apply]
	whitespace = warn
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[help]
	autocorrect = 1
[status]
	submodule = 1
[push]
	# Only push branches that have been set up to track a remote branch.
	default = current
[github]
	user = adben
